<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cement.solar.system"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21"
        android:maxSdkVersion="23" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>  
    
    <application
        android:name="com.cement.solar.system.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cement.solar.system.ChooserActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cement.earth.system.EarthSystemActivity"
            android:launchMode="singleTask"
            android:label="EarthSystemActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cement.solarsystems" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cement.solar.system.SolarSystemActivity"
            android:launchMode="singleTask"
            android:label="SolarSystemActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.cement.solarsystems" />
            </intent-filter>
        </activity>
    </application>

</manifest>
